extra_streamlit_components==0.1.80
folium==0.19.2
geopy==2.4.1
matplotlib==3.10.3
numpy==2.3.1
opencv_python_headless==4.11.0.86
pandas==2.3.0
Pillow==11.2.1
plotly==5.24.1
rembg==2.0.65
scikit_learn==1.7.0
seaborn==0.13.2
selenium==4.33.0
st_circular_progress==0.3.9
streamlit==1.46.0
streamlit_authenticator==0.3.3
streamlit_extras==0.7.1
streamlit_folium==0.25.0
streamlit_on_Hover_tabs==1.0.1
email-validator
